@font-face {
    font-family: lakeshore;
    src: url(fonts/LAKESHOR-webfont.svg);
    src: url(fonts/LAKESHOR-webfont.woff);
}@font-face{
    font-family: airstream;
    src: url(fonts/Airstream-webfont.svg);
    src: url(fonts/Airstream-webfont.woff);
}
:root{  /* creating variables */
    --thumbnails-img-width: 20vw;
    --thumbnails-img-height: 15vw;
    --thumbnails-title-height: calc(var(--thumbnails-img-height) * 0.33);
}
body,html{
    height: 100%; /* uses the ALL HEIGHT of the page */
}
body{
    display: flex;
    flex-direction: column;
    background-color:cornflowerblue;
    margin: 0;
}
.logo{
font-size: 2em;
background-color:lightsalmon;
display: block;
text-align: center;
font-family: lakeshore;
/*text-transform: uppercase;*/ /* ----->  transition from SMALL letters to uppercase (BIG) */
color: blue;
}
.main-class{
    display: flex;
    flex-direction: column;  /* blocks direction */
    justify-content: center;  /* align image vertically centered  */
    flex-grow: 1;  /* occupies one part of the screen  */
    /* in this case aligns everything about the vertical to the center of the screen */
}
.main-class.hidden{
    --thumbnails-img-width: 35vw;
    --thumbnails-img-height: 25vw;
    --thumbnails-title-height: calc(var(--thumbnails-img-height) * 0.33);
}
.details-container{
    display: flex;
    flex-direction: column;
    align-items: center;  /* align the image to the center horizontally */
    margin-bottom: 10vh;
    transition: 5s cubic-bezier(0.1, 1.3, 0.9, 1); /*only 5s resizes */
}
.hidden .details-container{  /* all actions belong to one class, hides the container */
    display: none;
}
.div-class{
    position: relative;  /* used to write text on a picture whith in position: absolute */
}
.hide-button{  /* button hidden slide . location */
   display: block;
   background-color:cornsilk;
   border-radius: 25%;
   margin-bottom: 1vh;
 /* position: absolute;
    top: 3vh;
    right: 3vw; */
}
.hidden .hide-button{  /* remove the button from the screen */
    display: none;
}
.details-image{
    width: 70vw;
    height: 55vw;
    border-radius: 25%;  /* corner rounding */
}
.details-title{
    display: block; 
    text-align: center;
    position: absolute;  /* is used for to write text on a picture whith in position: relative */
    left: 1vw;             /* specifying a position relative to a class or divs  */ 
    right: 1vw;
    bottom: 3vw;
}

.thumbnails-list{
    list-style: none; /* deletes the DOT from the anchor */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* jump to the next line if it reached the end of the line */ 
    max-height: 25vh; /* SCROLL window size */
    overflow-y: auto;  /* allows SCROLLING */
    justify-content: space-around; /* recedes DISTANCE from each content on ALL SIDES */
    padding-left: 0;
}
.hidden .thumbnails-list{ /* the maximum height of the scroll window when the large image is hidden*/
    max-height: 80vh;
    /* margin-bottom: 10vh; */
}
.thumbnails-item{  
    max-width: var(--thumbnails-img-width);
    min-height: calc(var(--thumbnails-img-height) + var(--thumbnails-title-height));
    margin-top: 2.5vh;
    border: solid 1px blue;  /* creating a border line for a picture */
    border-radius: 25%;  /* corner rounding */
    overflow : hidden; /* hides unwanted part */ 
}
.thumbnails-item:hover{
    transform:scale(1.1); /* transforms a SMALL image into a LARGE one */
}
.thumbnails-anchor{
    text-decoration: none; /* deletes the UNDERLINING in text due to ANCHOR */
}    
.thumbnails-image{
    display: block;
    width: var(--thumbnails-img-width);
    height: var(--thumbnails-img-height);
}
.thumbnails-title{
    display: block;
    text-align: center;
    height: var(--thumbnails-title-height);
    background-color:lightsalmon;
}
.is-point{  /* we have created a class and only use it here. so it is possible */
    transform: scale(0.001); /* reduces the main image to dot size */
    transition: 0s; /* instantly / now / quickly */
}
@media (min-width: 560px) {
    .details-container{
        margin-top: 10vh;
    }
    .thumbnails-list{
        flex-direction: column;
        flex-wrap: nowrap;  /* pictures in a row */
        max-width: 80vh;
        max-height: 80vh;
        order: -1; /* CHANGES the POSITION of the SIDES of the content in the landscape */
        justify-content: flex-start;
        padding-right: 5vh;
        padding-left: 5vh;
       /* width: calc(var(--thumbnails-img-width));*/
    }
    .main-class{
        flex-direction: row;
        justify-content: space-around; /* recedes DISTANCE from each content on ALL SIDES */
    }
    .details-image{
        width: 30vw;
        height: 25vw;
        margin: 0;
    }
    .thumbnails-item{
        --thumbnails-img-width: 15vw;
        --thumbnails-img-height: 10vw;
        --thumbnails-title-height: calc(var(--thumbnails-img-height) * 0.33); 
    }
    .hidden .thumbnails-list{
        flex-direction: row; /* arrangement of icons in a row */
        flex-wrap: wrap;  /* jump to another line at the end of the screen */
        justify-content: space-around ;  /* space on all sides of the pictures */
        max-height: 80vh;
        max-width: 170vh;
    }
    .hidden .thumbnails-item{
        --thumbnails-img-width: 25vw;
        --thumbnails-img-height: 18vw;
        /* --thumbnails-title-height: calc(var(--thumbnails-img-height) * 0.33);  */
    }
    .hidden .thumbnails-title{
       padding-top: 5vh;   /* the signature of the pictures is shifted down, in the center of the window */
    }
@media (min-width: 900px) {  
    .details-title{  /* text on picture */
        font-size: xx-large;
        /* font-family: airstream; */
        color: brown;
        bottom: 1vw;
    }
    .thumbnails-title{
        font-size: large;
    }
    .details-image{
        width: 90vh;
        height: 65vh;
    }
    .thumbnails-item{  /* makes pictures smaller */
        --thumbnails-img-width: 10vw;
        --thumbnails-img-height: 7vw;
        --thumbnails-title-height: calc(var(--thumbnails-img-height) * 0.33); /* affects the size of the image title window */
    }
    .hidden .thumbnails-item{   /* size in hidden mode */
        --thumbnails-img-width: 17vw;
        --thumbnails-img-height: 11vw;
        --thumbnails-title-height: calc(var(--thumbnails-img-height) * 0.33);
    }
    .hidden .thumbnails-list{   /* set scroll size */
        max-height: 70vh;
    }
}
