body,
html {
    height: 100%;
}

/* ********   Buttons ******* */
.main-buttons-class {
    display: flex;
    justify-content: center;
}

.button-main-menu-class+.button-main-menu-class {
    margin-left: 5vw;
}

.active {
    background-color: aquamarine;
    color: white;
}

.button-submit-class {
    display: flex;
    margin-top: 5vw;
    justify-content: center;

}

.btn-sbm-class+.btn-sbm-class {
    margin-left: 10vw;

}

/* ********************************* */
/* **********  Sections ******** */
.two-sections-class {

    display: flex;
    justify-content: space-evenly;
}

.header-class {
    display: block;
    text-align: center;
    padding: 1vw;
    font-size: x-large;
}