body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.word-guess {
    display: flex;
    flex-direction: row;
    /* background-color: aquamarine; */
}
.letter-guess{
    font-size: 1.5em;
    margin-left: 1vw;
    padding: 0.3em;
    background-color: blue;
    color: blue;
}
.notification-class {
    display: flex;
    flex-direction: row;
    width: 20vw;
    height: 1.5vw;
    border: solid 2px gray;
    margin-top: 1em;
    margin-bottom: 1em;
    justify-content: center;
}
.class-input {
    text-align: center;
    border: solid 2px blue;
}
.final-class-winner {
    display: flex;
    flex-direction: row;
    width: 25vw;
    height: 2vw;
    border: solid 2px goldenrod;
    margin-top: 1em;
    margin-bottom: 1em;
    justify-content: center;
    pointer-events: none;
    text-align: center;
    align-items: center;
    color: green;
    font-size: 1em;
}
.final-class-lost {
    color: red;
}
.close-class-input {
    pointer-events: none;
}
.question {
    display: inline;
    border: solid 3px yellowgreen;
    margin: 1em;
    padding: 0.3em;
}
