body,html {
    height: 95%;
}
/********************************/
.button-class {
    display: flex;
    justify-content: center;
    margin: 1em;
}
/*******************************/
.movies-list {
    display: block;
    overflow-y: auto;
    max-height: 80vh;
}
.movie-item {
    display: flex;
    align-items: center;
}
.movie-image {
    width: 20vw; 
    height: 25vw;
    margin: 1em 0;
}
/***********************************/
.title-class {
    display: block;
    margin: 2em;
}
.movie-title {
    display: block;
    text-align: center;
    font-size: large;
    color: blue;
    font-weight: 400;
    margin-bottom: 1em;
} 
.movie-overview {
    display: block;
    width: 50vw;
}
/************************************/
.footer-class {
    display: block;
    text-align: center;
    margin-top: 2em;
}
/************************************/
@media (min-width: 560px) {
    .movies-list {
        max-height: 70vh;
    }
 }
@media (min-width: 900px) {
    .movies-list {
        max-height: 65vh;
    }
    .movie-overview {
        width: 60vw;
    }
}
@media (min-width: 1000px) and (min-height: 600px) {
    .movies-list {
        max-height: 80vh;
    }
    .movie-overview {
        font-size: x-large;
        width: 70vw;
    }
    .movie-title {
        font-size: xx-large;
        font-weight: 600;
        margin-left: 4em;
    }
    .movie-image {
        margin: 3em 0;
    }
}
    